#skills-container {
  position: relative; /* Utilisation de relative au lieu d'absolute pour ne pas perturber le flow */
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; /* Place les cercles au-dessus du background, mais en dessous du reste */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Jura', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100vh;
}

#background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.3s ease-in-out;
  z-index: -1; /* L'overlay doit être derrière tout le contenu */
}

.circle {
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 0.9rem;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  border: 1px solid white;
  box-shadow: 0 0 0 1px white;
}

.circle.selected {
  transform: scale(1.2);
  box-shadow: 0 0 0 8px white, 0 0 15px white;
}

.fixed-popup {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 300px;
  padding: 20px;
  background: #f9f9f9;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 2; /* Au-dessus des cercles */
}

.branch{

}
.node{
  
}